numpy
scipy>=1.6.0
colour-demosaicing>=0.2.2
colour
color-matcher==0.4.0
color-space-converter>=0.1.4
imageio>=2.17.0
docutils
Pillow>=9.0.1
requests
depthy>=0.3.0
certifi>=2020.06.20
scikit-image>=0.18.0
tifffile==2022.4.8
pyinstaller==3.4